.box1{ width: 100px;
    height: 200px;
     background-color: blue;
     animation-name: move;
     animation-duration: 2s;
     animation-iteration-count: infinite;
    position: relative;
}

@keyframes move{
    0%{
        left: 0;
        background-color: blue;
        top: 0;
    }
    25%{
        left: 20px;
        background-color: yellow;
        top: 0;
        
    }
    50%{
        left: 20px;
        background-color: red;
        top: 40px;
    }
    75%{
        left: 0;
        background-color: pink;
        top: 40px;
    }
    100%{
        left: 0px;
     background-color: blue;
        top: 0;
    }
}